// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset
// To configure blueprint, edit the partials/base.sass file.
@import partials/base
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
//@import blueprint/form
// Import the non-default scaffolding module.
//@import blueprint/scaffolding

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp
  +blueprint-typography(true)
  +blueprint-utilities
//  +blueprint-debug
  +blueprint-interaction
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
  pre
    :margin 0px
form.bp
//  +blueprint-inline-form
  // You'll probably want to remove the scaffolding once you start styling your site.
//  +blueprint-scaffolding

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col
  :background-color #eee
  #container
    +container
    a, a:visited
      :color $dark-grey
    a:hover
      :color #333
  #header
    +column(24)
    :margin-top 20px
    a, a:visited
      :color $dark-grey
    a
      :text-decoration none
    #logo
      +column(7)
      h1
        :margin-bottom 0px
        :font-family CuprumFFURegular, sans-serif
      h4
        :color $light-gray
        :font-family GentiumBasicItalic, serif
      a:hover
        :color red
    #menu
      +column(17, true)
      :font-size 150%
      :font-family GnuolaneRegular, sans-serif
      a:hover
        :text-decoration underline
      ul
        :list-style-type none
        :float right
        li
          :display inline
          :margin-left 40px
          form
            :width 100px
            input
              :width 90px
  #sidebar
    +column(8)
    :font-family GnuolaneRegular, sans-serif
    li
      :font-family GentiumBasicItalic, serif
      a
        :font-family CuprumFFURegular, sans-serif
  #content
    +column(14, true)
    +prepend(1)
    +append(1)
    .post
      .header
        +column(14, true)
        .title
          +column(10)
          :display inline-block
          h3
            :margin-bottom 0px
            :font-family CuprumFFURegular, sans-serif
          h6
            :color $light-gray
            :margin-bottom 20px
            :font-family GentiumBasicItalic, serif
        .social_bar
          +column(4, true)
          ul
            :list-style-type none
            :float right
            :margin-right 0px
            li
              :display inline-block
      .highlight
        :background-color #222
        :color #FFF
        :padding 10px
        :-moz-border-radius 10px
        -webkit-border-radius 10px
    .post-excerpt
      :font-family LiberationSansRegular, sans-serif
      :margin-bottom 20px
      h3
        :margin-bottom 0px
        :font-family CuprumFFURegular, sans-serif
      h6
        :color $light-gray
        :font-family GentiumBasicItalic, serif
  #footer
    +column(24)
    :color $light-gray
    :font-family GentiumBasicItalic, serif
    :text-align center


