// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset
// To configure blueprint, edit the partials/base.sass file.
@import partials/base
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
//@import blueprint/form
// Import the non-default scaffolding module.
//@import blueprint/scaffolding

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp
  +blueprint-typography(true)
  +blueprint-utilities
//  +blueprint-debug
  +blueprint-interaction
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
  pre
    :margin 0px
form.bp
//  +blueprint-inline-form
  // You'll probably want to remove the scaffolding once you start styling your site.
//  +blueprint-scaffolding
@mixin post-title
  h3
    :margin-bottom 0px
    :font-family Francois One, sans-serif
  h6
    :color $light-gray
    :margin-bottom 20px
    :font-family Arimo, serif
@mixin border-radius($radius)
  :-moz-border-radius $radius
  :-webkit-border-radius $radius
@mixin border-shadow($horizontal, $vertical, $blur, $colour)
  :-moz-box-shadow $horizontal $vertical $blur $colour
  :box-shadow $horizontal $vertical $blur $colour
  :-webkit-box-shadow $horizontal $vertical $blur $colour
// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col
  :background-color #eee
  #container
    +container
    a, a:visited
      :color $dark-grey
    a:hover
      :color #333
  #header
    +column(24)
    :margin-top 20px
    a, a:visited
      :color $dark-grey
    a
      :text-decoration none
    #logo
      +column(10)
      h1
        :margin-bottom 0px
        :font-family Luckiest Guy, arial, serif
      h2
        :color $light-gray
        :font-family Just Me Again Down Here, serif
        :margin-top -20px
      a:hover
        :color red
    #menu
      +column(14, true)
      :font-size 150%
      :font-family Oswald, serif
      a:hover
        :text-decoration underline
      ul
        :list-style-type none
        :float right
        li
          :display inline
          :margin-left 20px
          form
            :width 100px
            :display inline
            input
              :width 90px
              @include border-radius(5px)
              :border 1px solid #999
              :padding 3px 3px 3px 14px
              :background url(/images/agile-toolkit-icons/atk-icons-nobg.png) 0px -318px no-repeat scroll #fff
              -webkit-appearance: none
              -webkit-box-sizing: content-box
              
  #sidebar
    +column(8)
    :font-family Oswald, serif
    ul
      :list-style none
      li
        :font-family Francois One, sans-serif
        :color $light-gray
        a
          :font-family Arimo, sans-serif
          :color $dark-grey
    h3
      :color #999
    #tweets
      .tweet_list
        .tweet_time
          :font-family Francois One, sans-serif
          :color $light-gray
          
      
  #content
    +column(14, true)
    +prepend(1)
    +append(1)
    .post
      p, h4
        :font-family Droid Sans, sans-serif
      h4
        :margin-bottom 0px
      h4 + p
        :text-indent 2em
      code
        :font-family Droid Sans Mono, serif
      p
        :line-height 140%
      .header
        +column(14, true)
        .title
          +column(10)
          :display inline-block
          @include post-title
        .social_bar
          +column(4, true)
          ul
            :list-style-type none
            :float right
            :margin-right 0px
            li
              :display inline-block
      img
        @include border-shadow(5px, 5px, 7px, #999)
      .highlight
        :background-color #444444
        :color #D4D4D4
        :padding 10px
        :margin-bottom 20px
        @include border-radius(10px)
        @include border-shadow(5px, 5px, 7px, #999)
        pre
          :margin 0px
          :overflow auto
      .hackernews
        :font-size 1.3em
        :text-align right
        .heart
          :color #c00
        a
          :background transparent url(/images/hackernews-icon.png) no-repeat center left
          :display inline-block
          :padding-left 16px
      blockquote
        p:before
          :font 48px Lucida Sans Unicode, Lucida Grande, sans-serif
          :content "“"
          :float left
          :margin-top -12px
        p:after
          :content "”"
          :font 48px Lucida Sans Unicode, Lucida Grande, sans-serif
          :float right
    .post-excerpt
      :margin-bottom 20px
      @include post-title
      h6
        :margin 0px
      p
        :font-family Droid Sans, sans-serif
    #search
      .result
        @include post-title
  .not_found
    h1
      :font-family Luckiest Guy, arial, serif
      :text-align center
      :font-size 10em
      :margin-top 100px
    h4
      :font-family Oswald, serif
      :text-align center
  #footer
    +column(24)
    :color $light-gray
    :text-align center
    :font-family Droid Sans, sans-serif
    :font-size 0.8em


