---
layout: default
---
<div id="content">  
  <div class="posts-list">
    {% for post in site.posts limit:5 %}
      <div class="post">
        <div class="header">
          <div class="title">
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <h6>Posted on {{ page.date | date: "%A, %B %d, %Y" }}</h6>
          </div>
          <div class="social_bar">
            <ul>
              <li>
                <div>
                   <a href="http://twitter.com/share" class="twitter-share-button"
                    data-via="martinciu"
                    data-counturl="{{ post.url }}"
                    data-text="{{ post.title }}"
                    data-count="none"
                   >Tweet</a>
                </div>
              </li>
              <li>
                <div class="g-plusone" data-size="standard" data-count="false" href="{{ post.url }}"></div>
              </li>
            </ul>
          </div>
        </div>
        {{ post.content }}
      </div>
    {% endfor %}
  </div>

  <p id="footnote">
    Didn't find what you were looking for? There's more in the <a href="/archive.html">archive</a>.
  </p>
</div>
<div id="sidebar">
  <h3>Latest posts</h3>
  <ul>
  {% for post in site.posts limit:10 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <br />
      {{ post.date | date: "%B %d, %Y"}}
    </li>
  {% endfor %}
  </ul>
  <a href="http://zubibu.com" target=_blank><img src="/images/zubibu-button2.png" alt="zubibu.com"></a>
</div>

