<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }}/contact">Contact me</a></li>
  <li><a href="{{ root_url }}/projects">Projects</a></li>
  <li><a href="http://linkedin.com/in/martinciu/" target="_blank">LinkedIn</a></li>
  <li><a href="https://github.com/martinciu" target="_blank">Github</a></li>
  <li><a href="http://www.postcatcher.in" target="_blank">PostCatcher</a></li>
</ul>
