/* line 4, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 18, ../sass/screen.sass */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 51, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 53, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 62, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:visited {
  color: #004c99;
}
/* line 21, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:focus {
  color: #0099ff;
}
/* line 24, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:hover {
  color: #0099ff;
}
/* line 27, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:active {
  color: #bf00ff;
}
/* line 63, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 64, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp strong, body.bp dfn {
  font-weight: bold;
}
/* line 65, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp em, body.bp dfn {
  font-style: italic;
}
/* line 66, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 67, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 68, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 69, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp del {
  color: #666666;
}
/* line 70, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 71, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 72, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 73, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 74, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 75, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 76, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 78, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 79, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 80, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th {
  font-weight: bold;
}
/* line 81, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp thead th {
  background: #c3d9ff;
}
/* line 82, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 85, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table.striped tr:nth-child(even) td,
body.bp table tr.even td {
  background: #e5ecf9;
}
/* line 86, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tfoot {
  font-style: italic;
}
/* line 87, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp caption {
  background: #eeeeee;
}
/* line 88, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 89, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 44, ../sass/screen.sass */
body.two-col {
  background-color: #eeeeee;
}
/* line 46, ../sass/screen.sass */
body.two-col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 48, ../sass/screen.sass */
body.two-col #container a, body.two-col #container a:visited {
  color: #777777;
}
/* line 50, ../sass/screen.sass */
body.two-col #container a:hover {
  color: #333333;
}
/* line 52, ../sass/screen.sass */
body.two-col #header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin-top: 20px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #header {
  overflow-x: hidden;
}
/* line 55, ../sass/screen.sass */
body.two-col #header a, body.two-col #header a:visited {
  color: #777777;
}
/* line 57, ../sass/screen.sass */
body.two-col #header a {
  text-decoration: none;
}
/* line 59, ../sass/screen.sass */
body.two-col #header #logo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #header #logo {
  overflow-x: hidden;
}
/* line 61, ../sass/screen.sass */
body.two-col #header #logo h1 {
  margin-bottom: 0px;
  font-family: CuprumFFURegular, sans-serif;
}
/* line 64, ../sass/screen.sass */
body.two-col #header #logo h4 {
  color: #bbbbbb;
  font-family: GentiumBasicItalic, serif;
}
/* line 67, ../sass/screen.sass */
body.two-col #header #logo a:hover {
  color: red;
}
/* line 69, ../sass/screen.sass */
body.two-col #header #menu {
  display: inline;
  float: left;
  margin-right: 0;
  width: 550px;
  font-size: 150%;
  font-family: GnuolaneRegular, sans-serif;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #header #menu {
  overflow-x: hidden;
}
/* line 73, ../sass/screen.sass */
body.two-col #header #menu a:hover {
  text-decoration: underline;
}
/* line 75, ../sass/screen.sass */
body.two-col #header #menu ul {
  list-style-type: none;
  float: right;
}
/* line 78, ../sass/screen.sass */
body.two-col #header #menu ul li {
  display: inline;
  margin-left: 40px;
}
/* line 81, ../sass/screen.sass */
body.two-col #header #menu ul li form {
  width: 100px;
  display: inline;
}
/* line 84, ../sass/screen.sass */
body.two-col #header #menu ul li form input {
  width: 90px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #999999;
  padding: 3px 3px 3px 14px;
  background: url(/images/agile-toolkit-icons/atk-icons-nobg.png) 0px -318px no-repeat scroll white;
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
}
/* line 95, ../sass/screen.sass */
body.two-col #sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  font-family: GnuolaneRegular, sans-serif;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #sidebar {
  overflow-x: hidden;
}
/* line 98, ../sass/screen.sass */
body.two-col #sidebar ul {
  list-style: none;
}
/* line 100, ../sass/screen.sass */
body.two-col #sidebar ul li {
  font-family: GentiumBasicItalic, serif;
}
/* line 102, ../sass/screen.sass */
body.two-col #sidebar ul li a {
  font-family: CuprumFFURegular, sans-serif;
}
/* line 104, ../sass/screen.sass */
body.two-col #sidebar h3 {
  color: #999999;
}
/* line 106, ../sass/screen.sass */
body.two-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 550px;
  padding-left: 40px;
  padding-right: 40px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #content {
  overflow-x: hidden;
}
/* line 110, ../sass/screen.sass */
body.two-col #content h1 {
  font-family: "Allerta Stencil", arial, serif;
  text-align: center;
  margin: 40px 0px;
}
/* line 115, ../sass/screen.sass */
body.two-col #content .post .header {
  display: inline;
  float: left;
  margin-right: 0;
  width: 550px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #content .post .header {
  overflow-x: hidden;
}
/* line 117, ../sass/screen.sass */
body.two-col #content .post .header .title {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
  display: inline-block;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #content .post .header .title {
  overflow-x: hidden;
}
/* line 32, ../sass/screen.sass */
body.two-col #content .post .header .title h3 {
  margin-bottom: 0px;
  font-family: CuprumFFURegular, sans-serif;
}
/* line 35, ../sass/screen.sass */
body.two-col #content .post .header .title h6 {
  color: #bbbbbb;
  margin-bottom: 20px;
  font-family: GentiumBasicItalic, serif;
}
/* line 121, ../sass/screen.sass */
body.two-col #content .post .header .social_bar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 150px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #content .post .header .social_bar {
  overflow-x: hidden;
}
/* line 123, ../sass/screen.sass */
body.two-col #content .post .header .social_bar ul {
  list-style-type: none;
  float: right;
  margin-right: 0px;
}
/* line 127, ../sass/screen.sass */
body.two-col #content .post .header .social_bar ul li {
  display: inline-block;
}
/* line 129, ../sass/screen.sass */
body.two-col #content .post .highlight {
  background-color: #222222;
  color: white;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
/* line 134, ../sass/screen.sass */
body.two-col #content .post .highlight pre {
  margin: 0px;
}
/* line 136, ../sass/screen.sass */
body.two-col #content .post-excerpt {
  font-family: LiberationSansRegular, sans-serif;
  margin-bottom: 20px;
}
/* line 32, ../sass/screen.sass */
body.two-col #content .post-excerpt h3 {
  margin-bottom: 0px;
  font-family: CuprumFFURegular, sans-serif;
}
/* line 35, ../sass/screen.sass */
body.two-col #content .post-excerpt h6 {
  color: #bbbbbb;
  margin-bottom: 20px;
  font-family: GentiumBasicItalic, serif;
}
/* line 32, ../sass/screen.sass */
body.two-col #content #search .result h3 {
  margin-bottom: 0px;
  font-family: CuprumFFURegular, sans-serif;
}
/* line 35, ../sass/screen.sass */
body.two-col #content #search .result h6 {
  color: #bbbbbb;
  margin-bottom: 20px;
  font-family: GentiumBasicItalic, serif;
}
/* line 143, ../sass/screen.sass */
body.two-col #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  color: #bbbbbb;
  font-family: GentiumBasicItalic, serif;
  text-align: center;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.2-p180@martinciu.github.com/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #footer {
  overflow-x: hidden;
}
