<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta name="Content-Type" content="text/html; charset=UTF-8" />
    <title>github :: martinciu (Marcin Ciunelis)</title>
    <style type="text/css" media="screen">
      * { margin: 0; padding: 0; }
      body { font-family: "acuta-1","acuta-2",serif; background-color: #fff; overflow: auto; color: #ccc; font-size: 16px; }
      h1 { font-weight: normal; margin-bottom: -10px; color: #222; font-size: 50px; }
      h4 { font-weight: normal; margin-bottom: 30px; color: #aaa; }
      a { text-decoration: none; color: #777; }
        a:hover { color: #444; }
      #container { width: 100%; text-align: center; margin: 150px 0; }
    </style>
    <link rel="shortcut icon" type="image/png" href="favicon.ico" />
    <script type="text/javascript" src="http://use.typekit.com/xak8heo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-152335-15']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    {{ content }}
  </body>

</html>

