---
layout: default
---
<div id="content">
  <div class="post">
    <div class="header">
      <div class="title">
        <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
        <h6>{{ page.date | date: "%A, %B %d, %Y" }}</h6>
      </div>
      <div class="social_bar">
        <ul>
          <li>
            <div>
               <a href="http://twitter.com/share" class="twitter-share-button"
                data-via="martinciu"
                data-counturl="{{ page.url }}"
                data-text="{{ post.title }}"
                data-count="none"
               >Tweet</a>
            </div>
          </li>
          <li>
            <div class="g-plusone" data-size="standard" data-count="false" data-href="{{ post.url }}"></div>
          </li>
        </ul>
      </div>
    </div>
    {{ content }}
    {% if page.hackernews_url %}
    <p class="hackernews">
      Liked this post? Share the <span class="heart">♥</span> on <a href="{{ page.hackernews_url }}">Hacker News</a>
    </p>
    {% endif %}
  </div>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://martinciu.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
</div>
<div id="sidebar">
</div>
